# ----------------------------------------------------------------
# GENERAL
# ----------------------------------------------------------------
# Environments
.env/*
.venv/*
.vscode/*
.vs/*
# VS Code
*.code-workspace
# PyCharm
.idea/*

# Каталоги
EXE/*
LOG/*
WORK/*
out/*

# Файлы
*.exe
*.spec
*.log
GIT_CONFIG
CreateGIT.bat

__pycache__/

# ----------------------------------------------------------------
# APP
# ----------------------------------------------------------------
RE/LOG/
Replace if-else Statements/LOG/
Replace if-else Statements/!/

# ----------------------------------------------------------------
